<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.guns.modular.system.dao.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wl.guns.modular.system.model.User">
		<id column="id" property="id" />
		<result column="avatar" property="avatar" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="name" property="name" />
		<result column="birthday" property="birthday" />
		<result column="sex" property="sex" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="roleid" property="roleid" />
		<result column="deptid" property="deptid" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="version" property="version" />
	</resultMap>

	<resultMap id="SysUserResult" type="com.wl.guns.modular.system.model.User">
		<id column="id" property="id" />
		<result column="avatar" property="avatar" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="name" property="name" />
		<result column="birthday" property="birthday" />
		<result column="sex" property="sex" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="roleid" property="roleid" />
		<result column="deptid" property="deptid" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="version" property="version" />
		<association property="dept"  column="deptid" javaType="com.wl.guns.modular.system.model.Dept" resultMap="deptResult" />
	</resultMap>

	<resultMap id="deptResult" type="com.wl.guns.modular.system.model.Dept">
		<id column="id" property="id"/>
		<result column="num" property="num"/>
		<result column="pid" property="pid"/>
		<result column="pids" property="pids"/>
		<result column="simplename" property="simplename"/>
		<result column="fullname" property="fullname"/>
		<result column="tips" property="tips"/>
		<result column="version" property="version"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, account, name, birthday, sex, email, avatar,
		phone, roleid,
		deptid, status,
		create_time as createtime, version
	</sql>

	<sql id="Base_Column_List_With_Pwd">
		id, account, name, birthday,password, sex, email, avatar,
		phone, roleid,salt,
		deptid, status,
		create_time as createtime, version
	</sql>

	<!--数据权限查询基类-->
	<sql id="selectUserVo">
      select 	u.id, u.account, u.name, u.birthday,u.password, u.sex, u.email, u.avatar,
		u.phone, u.roleid ,u.salt,
		u.deptid ,
		u.create_time AS createtime, u.create_by AS createBy, u.update_time AS updateTime, u.update_by AS updateBy
        from sys_user u
	    left join sys_dept d on u.deptid = d.id
    </sql>

	<select id="selectUsers" resultType="map">
		<include refid="selectUserVo" />
		where status != 3
		<if test="name != null and name != ''">
			and (phone like CONCAT('%',#{name},'%')
			or account like CONCAT('%',#{name},'%')
			or name like CONCAT('%',#{name},'%'))
		</if>
		<if test="deptid != null and deptid != 0">
			and (deptid = #{deptid} or deptid in ( select id from sys_dept where pids like CONCAT('%[', #{deptid}, ']%') ))
		</if>
		<if test="beginTime != null and beginTime != ''">
			and (create_time &gt;= CONCAT(#{beginTime},' 00:00:00'))
		</if>
		<if test="endTime != null and endTime != ''">
			and (create_time &lt;=  CONCAT(#{endTime},' 23:59:59'))
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>

	<update id="setStatus">
		update sys_user set status = #{status} where id =
		#{userId}
	</update>

	<update id="changePwd">
		update sys_user set password = #{pwd} where id =
		#{userId}
	</update>

	<update id="setRoles">
		update sys_user set roleid = #{roleIds} where id =
		#{userId}
	</update>

	<select id="getByAccount" resultType="com.wl.guns.modular.system.model.User">
		select
		<include refid="Base_Column_List_With_Pwd" />
		from sys_user where account = #{account} and status != 3
	</select>

	<select id="selectListCount" resultType="java.lang.Integer">
		select count(*)
		from sys_user
		<where>
			status != 3
			<if test="name != null and name != ''">
				and (phone like CONCAT('%',#{name},'%')
				or account like CONCAT('%',#{name},'%')
				or `name` like CONCAT('%',#{name},'%'))
			</if>
			<if test="beginTime != null and beginTime != ''">
				and (create_time <![CDATA[>= ]]> CONCAT(#{beginTime},' 00:00:00'))
			</if>
			<if test="endTime != null and endTime != ''">
				and (create_time <![CDATA[<= ]]>  CONCAT(#{endTime},' 23:59:59'))
			</if>
		</where>
	</select>

	<select id="selectPoiExport" resultType="java.util.Map">
		select
		a.id,
		a.account,
		a.name,
		a.birthday,
		a.sex,
		m.name as sexName,
		a.email,
		a.phone,
		a.deptid,
		d.fullname as deptName,
		a.status,
		n.name as statusName,
		a.create_time as createtime,
		a.version
		from sys_user a
		left join sys_dict m on m.code=a.sex and m.pid = (select id from sys_dict where code ='sys_sex')
		left join sys_dict n on n.code=a.status and n.pid = (select id from sys_dict where code ='account_state')
		left join sys_dept d on d.id=a.deptid
		<where>
			a.status != 3
			<if test="name != null and name != ''">
				and (a.phone like CONCAT('%',#{name},'%')
				or a.account like CONCAT('%',#{name},'%')
				or a.`name` like CONCAT('%',#{name},'%'))
			</if>
			<if test="beginTime != null and beginTime != ''">
				and (a.create_time <![CDATA[>= ]]> CONCAT(#{beginTime},' 00:00:00'))
			</if>
			<if test="endTime != null and endTime != ''">
				and (a.create_time <![CDATA[<= ]]>  CONCAT(#{endTime},' 23:59:59'))
			</if>
		</where>
		order by a.create_time desc
	</select>

	<select id="selectUserList" parameterType="com.wl.guns.modular.system.model.User" resultMap="SysUserResult">
		select
		a.id,
		a.account,
		a.name,
		a.birthday,
		a.sex,
		a.email,
		a.phone,
		a.deptid,
		d.fullname,
		d.simplename,
		a.status,
		a.create_time as createtime,
		a.version
		from sys_user a
		left join sys_dept d on d.id=a.deptid
		<where>
			a.status != 3
			<if test="name != null and name != ''">
				and (a.phone like CONCAT('%',#{name},'%')
				or a.account like CONCAT('%',#{name},'%')
				or a.`name` like CONCAT('%',#{name},'%'))
			</if>
			<if test="beginTime != null and beginTime != ''">
				and (a.create_time <![CDATA[>= ]]> CONCAT(#{beginTime},' 00:00:00'))
			</if>
			<if test="endTime != null and endTime != ''">
				and (a.create_time <![CDATA[<= ]]>  CONCAT(#{endTime},' 23:59:59'))
			</if>
		</where>
		order by a.create_time desc
	</select>

</mapper>
